  .combos-section {
    padding: 60px 0;
  }

  .combo-title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--light-blue);
    font-size: 2.5rem;
    font-weight: 600;
  }

  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Caras del flip */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--shadow-color);
    background-color: #10294d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  /* Frente */
  .flip-card-front img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius:15px;
  }

  /* Reverso */
  .flip-card-back {
    transform: rotateY(180deg);
    background-color: var(--secondary-dark);
  }

  .texto-destacado {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--light-blue);
  }

  /* Precio */
  .combo-price {
    font-size: 1.2rem;
    margin-top: 8px;
    color: var(--light-blue);
  }