
.promo-section {
    padding: 60px 0;
}

.promo-title {
    text-align: center;
    margin-bottom: 50px;
    color: #bce0ff; /* Celeste */
    font-size: 2.5rem;
    font-weight: 600;
}

.card {
    background-color: #10294d;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}

.btn-custom {
    background-color: #00aaff;
    color: white;
    border-radius: 25px;
    transition: background 0.3s ease;
}

.btn-custom:hover {
    background-color: #0090dd;
}
.no-link {
color: inherit; /* hereda el color del texto */
text-decoration: none; /* quita el subrayado */
}
@media (max-width: 576px) {
    .promo-title {
    font-size: 1.6rem;
    }
    .card img {
    height: 180px;
    }
}