/* --- Nunito (Para texto normal) --- */
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* --- MachineStd (para destacar titulares) --- */
@font-face {
    font-family: 'MachineStd';
    src: url('../fonts/MachineStd.otf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}



/* Variables y Estilos personalizados */
:root {
    --dark-blue: #0f172a;
    /* Fondo principal (Slate-900) */
    --light-blue: #38bdf8;
    /* Color de acento (Sky-400) */
    --text-color: #f8fafc;
    /* Texto principal (White/Light) */
    --secondary-dark: #1e293b;
    /* Fondo de secciones/tarjetas (Slate-800) */
}

body {
    background-color: var(--dark-blue);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
}

/* Estilos específicos del Navbar */
.navbar {
    background-color: var(--secondary-dark);
    /* Navbar un poco más claro que el fondo del body */
    border-bottom: 3px solid var(--light-blue);
}

.navbar-brand,
.nav-link {
    color: var(--text-color) !important;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--light-blue) !important;
}

/* Estilos del Footer */
footer {
    background-color: var(--secondary-dark);
    border-top: 3px solid var(--light-blue);
    padding: 2rem 0;
    margin-top: auto;
    /* Empuja el footer hacia abajo */
}

/*Logos redes*/
.logopie {
    width: 50px;
}

/*=====TAQUILLA PRECIO=====*/
/*Barra progreso*/
.progress {
    height: 1px;
}

.progress-bar.datos {
    width: 50%;
    /* progreso real según etapa */
}

.progress-bar.pago {

    width: 100%;
}

.position-absolute.btn-barra {
    top: -1rem;
}

.btn-preciopago {
    width: 5rem;
    height: 2rem;
}

.btn-datos {
    width: 8rem;
    height: 2rem;
}

/*Tarjetas-Combo*/
.card.combo {
    max-width: 540px;
    background-color: var(--secondary-dark);
    border-top: 3px solid var(--light-blue);


}

.ctn-inp {
    width: 80px;
}

/*Tarjeta reestreno*/
.card.reestrenoprecio {
    width: 25rem;
    height: 44rem;
    
}

.card.reestrenodatopago {
    width: 25rem;
}

/*=====TAQUILLA PAGO =====*/
/*Metodos de pago*/

.card.metodo-pago {
    max-width: 50rem;
}